body {
    background-color: #372948;
} 

header {
    z-index: 100;
}

.description {
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s; 
}

/* .description:hover {
    height: 25px;

} */


#pills-home-tab {
    background-color: #790252;
    margin: 5px;
}

#pills-profile-tab {
    background-color: #790252;
    margin: 5px;
}

#pills-contact-tab {
    background-color: #790252;
    margin: 5px;
}

.nav-link {
    color: #9c9e7c;
}

.nav-link:hover {
    color: #FEB139;
}

.titulo {
    color: #704F4F;
}

.titulo2 {
    color: #704F4F;
}

.precio {
   color: #704F4F;
}

.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }
  .table__productos{
    display: flex;
 
  }
  .table__productos > img{
    width: 6rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
  }
  .table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .hide, .remove{
    display: none;
  }

  

  .portada {
    width: 63%;
    
    margin: 0px 250px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    
    transition: all 1s;
  }

  .btno {
    background-color: #9c9e7c;
  }

  .btno:hover {
    background-color:  #cf881e;
  }

  .btno:active {
    background-color: #b45e43;
  }